/* .App {
align-content: center;
} */

/* Nav Bar */

.InitialTitle {
    font-size: 2.5vmax;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.UserChoice {
    font-size: 1.5vmax;
    width: 50%;
    margin: auto;
}

.IntroText {
    margin: auto;
    width: 70%;
    font-size: 1.5vmax;
}

.TopNavTitle {
    margin: auto;
    font-size: 2.5vmax;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.ButtonsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ButtonLeft{
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.ButtonRight{
    text-align: center;
    margin: 10px;
    padding: 5px;
    height: 50%;
}

/* Chart */

.Category {
    outline: black solid 1px;
    align-content: center;
    text-align: center;
    font-size: 1.5vmax;
}

.Row {
    min-height: 8vh;
}

.Ranking {
    outline: black solid 1px; 
    align-content: center;
    padding: 10px;
}

.Chart {
    outline: black solid 2px;
    margin: auto;
    width: 100vw;
}

/* Unpicked */

.ViewButtons {
    margin-top: 15px;
    text-align: center;
}

.ToggleButton {
    font-size: 1.5vmax;
    margin-bottom: 10px;
    padding: 5px;
}

.Art {
    aspect-ratio: 1/1;
    height: 6vmax
}

.Null {
    padding-top: 5px;
    text-align: center;    
    width: 100vw;
    height: 30vh;
    /* overflow: scroll; */
}

/* Results */

.ResultsTitle {
    margin: auto;
}

.ResultsText {
    display: inline-block;
    margin: 5px;
    font-size: 2vmax;
}

.ResultsFooter{
   text-align: center;
}

.MyCarousel {
    text-align: center;
    height: 400px;
    width: 400px;
    margin: auto;
}

.CarouselArt {
    aspect-ratio: 1/1;
    height: 200px;
    margin-bottom: 10px;

}