.App {
/* align-content: center; */
}

.MyNav {
text-align: center;
margin: auto;
}

.TopNavTitle {
    font-size: 4vw;
}

.TopNavButtons{
    width: 10vw;
    font-size: 1.5vw;
    overflow-wrap: break-word;
}

.ResultsText {
    display: inline-block;
    margin: 5px;
    font-size: 2vmax;
}

.Category {
    outline: black solid 1px;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    overflow-wrap: break-word;
}

.Row {
    min-height: 75px;
    min-height: 10vh;
}

.Ranking {
    outline: black solid 1px; 
    align-content: center;
    padding: 10px;
}

.Chart {
    outline: black solid 2px;
    margin: auto;
    width: 100vw;
}

.Art {
    aspect-ratio: 1/1;
    max-height: 100px;
}

.Null {
    padding: 25px;
    text-align: center;    
    width: 100vw;
}